@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

.header {
  background: #252836;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link-logo {
  transition: all 0.4s;
}

.header-link-logo:hover {
  opacity: 0.7;
}

.header-link-logo:active {
  opacity: 0.4;
}

.list {
  margin: 0;
  margin-right: 100px;
}

.sitenav-link-active {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  transition: all 0.4s;

}

.sitenav-link-active:hover {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
}

.sitenav-link-active:active {
  opacity: 0.5;
}

.sitenav-link-cites {
  transition: all 0.4s;
}

.sitenav-link-cites:hover {
  opacity: 0.7;
}

.sitenav-link-cites:active {
  opacity: 0.5;
}

.sitenav-input {
  padding: 14px 0;
  background: #ffffff;
  border: 1px solid #393C49;
  border-radius: 8px;
  max-width: 220px;
  width: 100%;
  font-family: 'Barlow';
  text-align: center;
  font-size: 14px;
  line-height: 140%;
  color: #252836;
}

.sitenav-input:focus {
  outline: none;
}