@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

.header {
  position: relative;
  background: #252836;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link-logo {
  transition: all 0.4s;
}

.header-link-logo:hover {
  opacity: 0.7;
}

.header-link-logo:active {
  opacity: 0.4;
}

.list {
  margin: 0;
  margin-right: 100px;
}

.sitenav {
  display: inline-block;
}

.sitenav-link-active {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  transition: all 0.4s;

}

.sitenav-link-active:hover {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
}

.sitenav-link-active:active {
  opacity: 0.5;
}

.sitenav-link-cites {
  transition: all 0.4s;
}

.sitenav-link-cites:hover {
  opacity: 0.7;
}

.sitenav-link-cites:active {
  opacity: 0.5;
}

.sitenav-input {
  padding: 14px 0;
  background: #ffffff;
  border: 2px solid #393C49;
  border-radius: 8px;
  max-width: 320px;
  width: 100%;
  font-family: 'Barlow';
  text-align: center;
  font-size: 14px;
  line-height: 140%;
  color: #252836;
}

.sitenav-input:focus {
  outline: none;
  border: 2px solid dodgerblue;
}

.sitenav-search {
  text-decoration: none;
  padding: 12px 0;
  background: #FFA844;
  border: 2px solid #393C49;
  border-radius: 8px;
  max-width: 220px;
  width: 100%;
  font-family: 'Barlow';
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #252836;
}

.sitenav{
  display: flex;
  align-items: center;
}

.header-hamburger {
  display: none;
  background: none;
  border: transparent;
  width: 46px;
  height: 46px;
  background-image: url(../../assets/images/icon.png);
  background-repeat: no-repeat;
  transition: all 0.4s;
}

.header-hamburger:hover {
  opacity: 0.6;
}

.header-hamburger:active {
  opacity: 0.4;
}

@media only screen and  (max-width: 991px) {

  .list {
    margin-right: 20px;
  }
}

@media only screen and  (max-width: 772px) {

  .sitenav {
    display: none;
  }

  .header-hamburger {
    display: inline-block;
  }

  .sitenav-input {
    margin-top: 10px;
  }

}

.active {
  border-top: 2px solid rgb(255, 255, 255);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 200px;
  background: #252836;
}

@media only screen and  (max-width: 500px) {

  .header-img {
    width: 240px;
  }

}
